[submodule "aws/saa/content-aws-csa2019"]
	path = aws/saa/content-aws-csa2019
	url = git@github.com:linuxacademy/content-aws-csa2019.git
[submodule "aws/saa/content-aws-soa-c01"]
	path = aws/saa/content-aws-soa-c01
	url = git@github.com:linuxacademy/content-aws-soa-c01.git
[submodule "terraform/learn-terraform-modules-create"]
	path = terraform/learn-terraform-modules-create
	url = https://github.com/hashicorp/learn-terraform-modules-create.git
